
*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
    font-family: "Lilita One";
    src: url("LilitaOne.eot");
    src: url('LilitaOne.eot?#iefix') format('embedded-opentype'),
    url("LilitaOne.woff") format("woff"),
    url("LilitaOne.otf") format("opentype"),
    /* url("LilitaOne.svg#LilitaOne") format("svg"); */
    }

html{
    height: 100%;
}

body {
  height: 100%;
  font-family: Lilita One;
  line-height: 1.5;
  margin: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(269,19%,30%);
  background-color: #ffffff
}

.fullCont{
  display: inline;
  height:100vh;
}

.imgLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.appstore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.gp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}


h1 {
  font-weight: 100;
  font-size: 5em;
  line-height: 0.7;
  text-align: center;
  margin-bottom: .5rem;
}

h2 {
    font-weight: 100;
    font-size: 2em;
    line-height: 1.3;
    text-align: center;
    margin-bottom: .5rem;
  }
p {
  text-align: center;
  margin: 1rem 0 .5rem;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px; 
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.btns {
  display: block;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  padding: 1rem;
/*    background-color: #FFFFFF*/
}


/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}

form [type="button"],
form [type="submit"],
form [type="reset"] {
  cursor: pointer;
  text-align: center;
  font-size: 18.5px;
  font-family: Lilita One;
  justify-content: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  border-radius: 100px 100px 100px 100px;
width: 130px;
height: 45px;
background-color:#f6a31d;
}

#centerr{
    margin: 0 auto;
    align-items: center; 
       display: flex;
}

form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}