
*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
    font-family: "Lilita One";
    src: url("LilitaOne.eot");
    src: url('LilitaOne.eot?#iefix') format('embedded-opentype'),
    url("LilitaOne.woff") format("woff"),
    url("LilitaOne.otf") format("opentype"),
    url("LilitaOne.svg#LilitaOne") format("svg");    
}

*{
    font-family: "Lilita One";
}

html{
    height: 100%;
}

body {
  height: 100%;
  font-family: Lilita One;
  line-height: 1.5;
  margin: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(269,19%,30%);
  background-color: #ffffff
}

.fullCont{
  display: inline;
  height: 100vh;
  width: 320vh;
}

#imgLogo {
  width: 20px;
  display: inline-block;
  margin-bottom:-3px;
}

#placeOne{
    font-size: 35px;
    margin: 0;
    margin-top: 15px
}

#placeTwo{
    font-size: 25px;
    margin: 7;
}

#placeThree{
    font-size: 18px;
    margin: 12;
    margin-bottom: 2px;
}

#appstore {
  float: left;
  display: block;
  margin-left: auto;
  margin-top: -6px;
  margin-right: auto;
  width: 221px;
}

#googleplay {
    float: left;
    display: block;
    margin-left: -16.5px;
    margin-right: auto;
    width: 256px;
  }

.gp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

h1 {
  font-weight: 100;
  font-size: 5.5em;
  line-height: 0.7;
  text-align: center;
  margin-bottom: .5rem;
}

h2 {
    font-weight: 100;
    font-size: 2em;
    line-height: 1.3;
    text-align: center;
    margin-bottom: .5rem;
  }

.stepBlock{
    margin-left: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
}

.step{
    text-align: left;
    margin: 0;
}

.stepMultilineText{
    line-height: 1.2;
}

.stepHeader{
    text-align: left;
    font-size: 34px;
    margin-top: 0;
    margin-bottom: -8;

}

.freePlaces{
    text-align: left;
    margin: 0;
    font-size: 15px;
}

p {
  font-size: 20px;
  text-align: center;
  margin: 1rem 0 .5rem;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px; 
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.btns {
  display: block;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  padding: 1rem;
/*    background-color: #FFFFFF*/
}

.downloadButtons {
    float: left;
    display: block;
    justify-content: center;
    width: 375px;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: -7px;
  /*    background-color: #FFFFFF*/
  }

/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  border-radius: 15px;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}
form label,
form legend {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}

input[type="file"] {
    border: none;
    padding: 0;
}

input[type=file]::-ms-browse {
    border: none;
    margin-right: 15px;
    font-family: Lilita One;
    padding: 10px 20px;
    width: 120px;
    border-radius: 50px;
    background-color: #f2b757;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 200ms ease-in;
  }
  
  input[type=file]::-webkit-file-upload-button {
    border: none;
    margin-right: 15px;
    font-family: Lilita One;
    padding: 10px 20px;
    width: 120px;
    border-radius: 50px;
    background-color: #f2b757;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 200ms ease-in;
  }
  
  input[type=file]::file-selector-button {
    border: none;
    margin-right: 15px;
    font-family: Lilita One;
    padding: 10px 20px;
    width: 120px;
    border-radius: 50px;
    background-color: #f2b757;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 200ms ease-in;
  }

form [type="button"],
form [type="submit"],
form [type="reset"] {
  cursor: pointer;
  text-align: center;
  font-size: 18.5px;
  font-family: Lilita One;
  justify-content: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  border-radius: 100px 100px 100px 100px;
width: 130px;
height: 45px;
background-color:#f6a31d;
}

#centerr{
    margin: 0 auto;
    margin-top: 20px;
    align-items: center; 
       display: flex;
}

#mail{
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center; 
       display: flex;
}

form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

input[type='checkbox'] {
    float: left;
    width: 20px;
    margin-right: 6px;
    margin-top: 3px;
    height: 17px;
  }
  input[type='checkbox'] + label {
    display: block;
    width: 30px;
  }